html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
} 

#root, .App{
  width: 100%;
  height: 100%; 
}

/* Header */
.header {
  background-color: #68C481;
  height: 6%;
}

.header_item {
  float: right;
  margin: 10px;
  color: white;
  font-size: 15px;
}

.contents-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */
.Login-wrapper p{
  text-align: center;
  color: #b2bec3;
}

.Login-wrapper #Login-title{
  font-size: 18px;
}

.Login-wrapper #Login-sub{
  font-size: 15px;
}

/* Main */
.main-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  margin-bottom: 30vh;
}

.mainText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3%;
}

.mainpic {
  width: 380px;
}

span.sidetext {
  font-size: 30px;
  font-weight: bolder;
}

span.sidetext2 {
  font-size: 15px;
  font-weight: bolder;
  color: #AAA;
}

.mainText-search{
  margin-top: 10%;
}

.searchbox {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #CCC;
  color: #555;
  font-size: 38px;
  font-weight: bolder;
  outline: none;
}

.searchbox::-webkit-input-placeholder {
  color: rgb(104, 104, 104);
}


.searchbox:focus::-webkit-input-placeholder {
  color: #68C481;
}

.seeall{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.all{
  border: none;
  background-color: white;
  text-decoration: none;
  color: #b2bec3;
}

.all:hover{
  color: #fdcb6e;
}

.viewmorebutton {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  border: none;
  background: none;
}

.viewmore {
  display: block;
}

.theme {
  margin: 10px 10px 0 0;
  display: inline-block;
  width: 250px;
  height: 100px;
  background-color: #9b9b9b;
}

.course {
  margin: 10px 10px 0 0;
  display: inline-block;
  width: 250px;
  height: 100px;
  background-color: #9b9b9b;
}

.viewmorepic {
  width: 90px;
}

/* alltheme */
.alltheme {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

.allthemesidetext {
  width: 780px;
  margin: auto;
}

span.allthemetext {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 19px;
  font-weight: bolder;
}

span.allthemetext2 {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.viewalltheme {
  display: inline-block;
  width: 800px;
}

/* allcourse */
.allcourse {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.allcoursesidetext {
  width: 780px;
  margin: auto;
}

span.allcoursetext {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 19px;
  font-weight: bolder;
}

span.allcoursetext2 {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.viewallcourse {
  display: inline-block;
  width: 800px;
}

/* searchtheme */
.searchtheme {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10vh;
}

.searchsidetext {
  width: 780px;
  margin: auto;
}

span.searchtext {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 19px;
  font-weight: bolder;
}

span.searchtext2 {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.searchedtheme {
  display: inline-block;
  width: 800px;
}

@media (max-width:768px){
  #main {
      display: block;
  }
  #main .sidebar {
      min-height: 0;
  }
}

