body{
  width: 100%;
  height: 100vh;
} 

.App{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Header */
.header{
  height: 70px;
}

.headerImg {
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: -1;
}

.logo {
  position: absolute;
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  left: 14vw;
  line-height: 66px;
  font-family: 'GmarketSansBold';
}

.header_item {
  float: right;
  line-height: 36px;
  margin-right: 30px;
  color: white;
  font-size: 14.5px;
  font-family: 'S-CoreDream-5Medium';
  z-index: 100;
  cursor: pointer;
}

/* Login */
.Login-wrapper p{
  text-align: center;
  color: #b2bec3;
}

.Login-wrapper #Login-title{
  font-size: 18px;
}

.Login-wrapper #Login-sub{
  font-size: 15px;
}

/* .MainP{
  flex: 1;
} */
.contents-wrapper{
  flex:1;
  width: 100%;
  height: 100%;
} 

/* Main */
.main-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 25vh; */
  margin-bottom: 10vh;
}

.mainText{
  font-family: Pretendard;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3%;
}

.mainImg{
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.mainImgItem1 {
  /* width: 380px; */
  position: absolute;
  z-index: 3;
  cursor: pointer;
  width: 140px;
  top: 25%;
  left: 11%;
}

.mainImgItem2 {
  width: 440px;
  margin-left: 3.3em;
}

span.sidetext {
  color: #68C481;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
}


.small-sidetext{
  font-size: 14px;
  color: #212121;
  display: flex;
  flex-direction: column;
  line-height: 22px;
  margin-bottom: 10px;
}

.sidetext3{
  font-size: 12px;
  margin-top: 12px;
}

.sidetext3 span{
  color: #C4C4C4;
}

.searchboxdiv{
  display: flex;
  justify-content: end;
  align-items: center;
}

.searchbox{
  background: #FFFFFF;
  border: 1px solid #ced6e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 290px;
  height: 44px;
}

.searchboxdiv img{
  position: absolute;
  padding-right: 10px;
  cursor: pointer;
}

input::placeholder{
  font-weight: bolder;
  font-size: 16px;
  color: #CFCFCF;
}


/* .searchbox {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #CCC;
  color: #555;
  font-size: 38px;
  font-weight: bolder;
  outline: none;
} */

.searchbox::-webkit-input-placeholder {
  color: #CFCFCF;
}

.searchbox:focus{
  outline: 1px solid #cFCFCF;
}

.searchbox:focus::-webkit-input-placeholder {
  color: #68C481;
}


.viewmorebutton {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  border: none;
  background: none;
}

.viewmore {
  display: block;
}

.theme {
  margin: 10px 10px 0 0;
  display: inline-block;
  align-items:center;
  width: 250px;
  height: 100px;
  background-color: #9b9b9b;
  background-color: #F8F8F8;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 0px;
}

.theme:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.aligntheme {
  width: 250px;
  margin-top: 30px;
  float: right;
}

.alignplace {
  width: 250px;
}

.themeName{
  font-size: 16px;
}

.themeExplain{
  font-size: 14px;
}
.course {
  margin: 10px 10px 0 0;
  display: inline-block;
  width: 250px;
  height: 100px;
  background-color: #9b9b9b;
}

.viewmorepic {
  width: 90px;
}

/* alltheme */
.alltheme {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

.allthemesidetext {
  width: 780px;
  margin: auto;
}

span.allthemetext {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 19px;
  font-weight: bolder;
}

span.allthemetext2 {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.viewalltheme {
  display: inline-block;
  width: 800px;
}

/* allcourse */
.allcourse {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

.allcoursesidetext {
  width: 780px;
  margin: auto;
}

span.allcoursetext {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 19px;
  font-weight: bolder;
}

span.allcoursetext2 {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.viewallcourse {
  display: inline-block;
  width: 800px;
}

/* searchtheme */
.searchtheme {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10vh;
}

.searchsidetext {
  width: 780px;
  margin: auto;
}

span.searchtext {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 19px;
  font-weight: bolder;
}

span.searchtext2 {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.searchedtheme {
  display: inline-block;
  width: 800px;
}

@media only all and (min-width: 500px) and (max-width:820px) {
  .main-wrapper {
    margin-left: 3vh;
    margin-bottom: 40vh;
  }
  .mainpic {
    width: 90%;
  }
  .all {
    margin-top: 0.2vh;
    font-size: 1.1em;
  }
  .searchsidetext, .allcoursesidetext, .allthemesidetext {
    margin-left: 3vh;
  }
  .theme, .course {
    width: 230px;
  }
  .aligntheme {
    width: 230px;
  }
  .themeName {
    font-size: 22px;
  }
  .themeExplain {
    font-size: 20px;
  }
  .searchedtheme, .viewallcourse, .viewalltheme, .viewmytheme {
    margin-left: -1vh;
  }
}

@media only all and (max-width:415px) {
  .main-wrapper {
    margin-top: 35vh;
    margin-bottom: 45vh;
    margin-left: 1vh;
  }
  .searchbox {
    margin-top: -2vh;
    font-size: 2.5em;
  }
  .mainpic {
    display: none;
  }
  .searchsidetext, .allcoursesidetext, .allthemesidetext {
    margin-left: 3vh;
  }
  .theme, .course {
    width: 350px;
    height: 150px;
  }
  .aligntheme {
    width: 350px;
  }
  .themeName {
    font-size: 22px;
  }
  .themeExplain {
    font-size: 20px;
  }
  .searchedtheme, .viewalltheme, .viewallcourse {
    width: 430px;
    margin-left: 0;
  }
}

