html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
} 

#root, .App{
  width: 100%;
  height: 100%; 
}

/* header */
.header {
  background-color: #68C481;
  height: 7%;
}

.header_item {
  float: right;
  margin: 10px;
  color: white;
  font-size: 15px;
}

.contents-wrapper{
  width: 100%;
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */
.Login-wrapper p{
  text-align: center;
  color: #b2bec3;
}

.Login-wrapper #Login-title{
  font-size: 18px;
}

.Login-wrapper #Login-sub{
  font-size: 15px;
}


/* Main */
.main-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3%;
}

.mainpic {
  width: 350px;
}

span.sidetext {
  font-size: 30px;
  font-weight: bolder;
}

span.sidetext2 {
  font-size: 15px;
  font-weight: bolder;
  color: #AAA;
}

.mainText-search{
  margin-top: 10%;
}

.search{
  padding: 0;
}

.searchbox {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #CCC;
  color: #555;
  font-size: 38px;
  font-weight: bolder;
  outline: none;
}

.searchbox::-webkit-input-placeholder {
  color: rgb(104, 104, 104);
}


.searchbox:focus::-webkit-input-placeholder {
  color: #68C481;
}

.seeall{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.all{
  border: none;
  background-color: white;
  text-decoration: none;
  color: #b2bec3;
}

.all:hover{
  color: #fdcb6e;
}

.viewmorebutton {
  width: 100px;
  margin: 10px 0 0 330px;
  border: none;
  background: none;
}



/*


/* mypage */
.mp-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme {
  margin: 10px 10px 0 0;
  display: inline-block;
  width: 250px;
  height: 100px;
  background-color: #9b9b9b;
}

.viewmorepic {
  width: 90px;
}

.alltheme {
  padding: 40px 0 0 130px;
}

span.allthemetext {
  display: block;
  font-size: 19px;
  font-weight: bolder;
}

span.allthemetext2 {
  display: block;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.allcourse {
  padding: 40px 0 0 130px;
}

span.allcoursetext {
  display: block;
  font-size: 19px;
  font-weight: bolder;
}

span.allcoursetext2 {
  display: block;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(175, 175, 175);
}

.course {
  margin: 10px 10px 0 0;
  display: inline-block;
  width: 250px;
  height: 100px;
  background-color: #9b9b9b;
}

