.New {
    background-color: #68C481;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    align-items: center;  
}

/* Mypage */
.mp-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    margin-bottom: 35vh;
}

.mypagetextd {
    display: block;
    margin-left: -55vh;
}

span.mypagetext {
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

.mypagebutton {
    margin-top: 20vh;
}

.gothemebutton {
    display: inline-block;
    width: 250px;
    height: 50px;
    border: 2px solid #68C481;
    background: white;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
}

.gofavoritebutton {
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-left: 100px;
    border: 2px solid #68C481;
    background: white;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
}

/* Mytheme */
.mytheme {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.mythemetextandbtn {
    display: block;
    margin: auto;
    width: 780px;
    
}
  
.mythemesidetext {
    display: inline-block;
    width: 150px;
    margin-left: -55%;
}
  
span.mythemetext {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 19px;
    font-weight: bolder;
}
  
span.mythemetext2 {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(175, 175, 175);
}
  
.viewmytheme {
    display: inline-block;
    width: 800px;
}

.maketheme {
    display: inline-block;
    width: 200px;
    height: 32px;    
}

.makethemebutton {
    float: right;
    width: 100px;
    height: 40px;

    background: #68C481;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

/* Favoritetheme */
.favoritetheme {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 10vh;
}
  
.favoritethemesidetext {
    width: 780px;
    margin: auto;
}
  
span.favoritethemetext {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 19px;
    font-weight: bolder;
}
  
span.favoritethemetext2 {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(175, 175, 175);
}
  
.viewfavoritetheme {
    display: inline-block;
    width: 800px;
}

.goallthemebutton {
    display: block;
    margin: auto;
    width: 260px;
    height: 40px;
    margin-top: 40px;
    background: #68C481;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

/*Maketheme*/
.inputm-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.inputthemedata {
    display: inline-block;
    margin-top: 10vh;
    margin-left: -10%;
}

.makethemetext {
    margin-left: -13vh;
}

.inputthemetitle {
    display: block;
    width: 150%;
    height: 50px;
    box-sizing: border-box;
    border: solid 2px #68C481;
}

.explaintheme {
    margin-top: 50px;
}

.inputthemeexplain {
    display: block;
    width: 150%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #68C481;
}

.shareswitch {
    display: inline-block;
    margin-top: 10px;
}

.tg {
    display: inline-block;
    width: 20px;
    margin-left: 5px;
}

ul {
    padding-inline-start: 10px;
}

li {
    list-style: none;
}

.tg-list {
    display: inline;
}

.tg-list-item {
    display: inline;
}

.tgl {
    display: none;
  }
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: inline-block;
    width: 35px;
    height: 20px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #68C481;
}


/* Createtheme */
.createtheme-wrapper {
    width: 100%;
    height: 94%;
}

.themelist {
    position: absolute;
    display: inline-block;
    margin-top: 30px    ;
    margin-left: 73%;
    z-index: 2;
}

.themetitle {
    display: block;
    background-color: #68C481;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 90px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.place {
    display: block;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 90px;
    border-radius: 10px;
    margin-left: -5px;
    margin-bottom: 5px;
}

.explainplace {
    border: none;
    background-color: transparent;
}

.createthemeheader {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
}

.bookmark {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.plus {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #68C481;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.bookmark-heart {
    display: inline-block;
    text-align: center;
}

.plus-lg {
    display: inline-block;
    text-align: center;
}

.delete-lg {
    display: inline-block;
    text-align: center;
}

.placename {
    display: block;
}

.picinput {
    display: none;
}

.picpluslabel {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;

}

.picplus {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top: -5px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #68C481;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.picwrapper {
    width: 95%;
    height: 125px;
    margin-top: 15px;
    overflow-x: auto;
    white-space: nowrap;
}
.picwrapper::-webkit-scrollbar{ 
    display:none; 
}

.piccontainer {
   margin-left: 5px;
}

.pic {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.picdelete {
    display: inline-block;
    background-color: #ffff;
}

.placeexplain {
    margin-top: 20px;
    display: block;
}

.placenamebox {
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
}

.placeexplainbox {
    width: 95%;
    height: 150px;
}

.createtheme {
    margin-top: 5vh;
}

.createthemebutton {
    margin-left: 15%;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    width: 140px;
    height: 40px;
    font-weight: bolder;
    font-size: 17px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.createbutton {
    margin-left: 30%;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    font-weight: bolder;
    font-size: 17px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.placenum {
    display: inline-block;
}

.inputplacenum {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 30px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.modal > section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
  }
  .modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
  }
  .modal > section > main {
    padding: 16px;
    border-top: 1px solid #dee2e6;
  }

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
}

body {
    margin: 0;
}

.searchplace {
    position:absolute;
    top: 80px;
    bottom:0;
    margin-top: 10px;
    margin-left: 10px;
    width: 25%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    background: white;
    
}

.placesearchbar {
    width: 77%;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(175, 175, 175);
    outline: none;
    font-weight: bolder;
}

.placesearchbar::-webkit-input-placeholder {
    color: rgb(104, 104, 104);
}

.placesearchbar:focus::-webkit-input-placeholder {
    color: #68C481;
}

.searchplace > button { 
    border: none;
    background-color: white;
    margin-left: 5px;
}
  
.map_wrap{
margin:0;
padding:0;
font-family:'Malgun Gothic',dotum,'돋움',sans-serif;
font-size:12px;
position:absolute;
width:100%;
height:100vh;
z-index: 1;
}

.App #result-list {
position:absolute;
top:70px;
left:0;
bottom:0;
width:25%;
margin:10px 0 30px 10px;
padding:5px;
overflow-y:auto;
background:rgba(255, 255, 255, 0.7);
z-index: 2;
font-size:12px;
border-radius: 10px;
}

.App #result-list li {
list-style: none;
}

.App #result-list .item {
position:relative;
border-bottom:1px solid #888;
overflow: hidden;
cursor: pointer;
min-height: 65px;
}
.App #result-list .item span {
display: block;
margin-top:4px;
}

.App #result-list .item .markerbg {
float:left;
position:absolute;
width:36px; 
height:37px;
margin:10px 0 0 10px;
background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

.App #result-list .item .marker_1 {background-position: 0 -10px;}
.App #result-list .item .marker_2 {background-position: 0 -56px;}
.App #result-list .item .marker_3 {background-position: 0 -102px}
.App #result-list .item .marker_4 {background-position: 0 -148px;}
.App #result-list .item .marker_5 {background-position: 0 -194px;}
.App #result-list .item .marker_6 {background-position: 0 -240px;}
.App #result-list .item .marker_7 {background-position: 0 -286px;}
.App #result-list .item .marker_8 {background-position: 0 -332px;}
.App #result-list .item .marker_9 {background-position: 0 -378px;}
.App #result-list .item .marker_10 {background-position: 0 -423px;}
.App #result-list .item .marker_11 {background-position: 0 -470px;}
.App #result-list .item .marker_12 {background-position: 0 -516px;}
.App #result-list .item .marker_13 {background-position: 0 -562px;}
.App #result-list .item .marker_14 {background-position: 0 -608px;}
.App #result-list .item .marker_15 {background-position: 0 -654px;}


.App #result-list .item h5, .App #result-list .item .info {
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

.App #result-list .item h5 {
font-size: 12px;
margin: 8px 0;
}

.App #result-list .info {
padding:5px 0 5px 55px;
text-align: left;
}
.App #result-list .info .gray {color:#8a8a8a;}
.App #result-list .info .jibun {
padding-left:26px;
background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}
.App #result-list .info .tel {color:#009900;}

.App #pagination {
margin:10px auto;
text-align:center;
}

.App #pagination a {
color: black;
display:inline-block;
margin-right:10px;
}

.App #pagination a.on {
font-weight: bold;
cursor: default;
color:#777;
}

@keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* responsive */
@media screen and (max-width:768px) {
    .mythemetextandbtn, .favoritethemesidetext {
        margin-left: 3vh;
    } 
    .theme, .course {
      width: 230px;
    }
    .viewallcourse, .viewalltheme, .viewmytheme, .viewfavoritetheme {
      margin-left: -1vh;
    }
  }
  
  @media screen and (max-width:414px) {
    .theme, .course {
        width: 350px;
        height: 150px;
    }
    .viewalltheme, .viewallcourse {
        margin-left: 0;
    }
    .mypagetextd {
        margin-left: -20vh;
    }
    .mypagebutton {
        width: 270px;
        margin-top: 10vh;

    }
    .gofavoritebutton {
        margin-top: 3vh;
        margin-left: 0;
    }
    .viewmytheme, .viewfavoritetheme {
        width: 430px;
        margin-left: 0;
      }  
    .inputthemetitle, .inputthemeexplain {
        margin-left: -15%;
    }
    .makethemetext {
        margin-left: -18vh;
    }
    .searchplace {
        margin-top: 0.7vh;
        width: 40%
    }
    .placesearchbar {
        width: 72%;
    }
    .searchplace > button {
        background-color: transparent;
        height: 20px;
    }
    .feather-search {
        width: 15px;
    }
    .App #result-list {
        width: 48%;
        font-size: 5px;
    }
    .themelist {
        margin-left: 55%;
    }
    .themetitle, .place {
        width: 170px;
        height: 70px;
    }
  }
  
  